@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';

.content {
	@media (min-width: $sm) {
		padding-top: 0;
		padding-bottom: $footer-height;
	}
}

.map, .contact-info {
	width: 50%;
}

.map {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding-bottom: $footer-height;

	> div {
		height: 100%;
	}
}

.contact-info {
	position: relative;
	@include bpg-nino();
	@include shadow();
	margin-left: 50%;
	padding: 20px 10px;
	z-index: 50;
}