@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/unslider';

.products {
    margin-top: 70px;
    margin-bottom: 70px;

    @media (max-width: $sm - 1) {
        > .row {
            white-space: nowrap;
            overflow-x: scroll;
        }
    }
}

.product-container {

    &:nth-child(odd) .product {
     @include gradient($light-green, $dark-green, right);
    }

    &:nth-child(even) .product {
     @include gradient($dark-grey, $yellow, right);
    }

    @media (max-width: $sm - 1) {
        display: inline-block;
        width: 200px;

        &:first-child {
            margin-left: 50px;
        }

        &:last-child {
            margin-right: 50px;
        }
    }
}

.product {
    @include bpg-nino();
    position: relative;
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 20px;

    > .image {
        @include background-image();
        position: absolute;
        width: calc(100% - (#{$top-products-padding} * 2));
        height: calc(100% - (#{$top-products-padding} * 2));
        top: $top-products-padding;
        left: $top-products-padding;
        border-radius: 50%;
    }

    > .name {
        position: absolute;
        width: calc(100% - (#{$top-products-padding} * 2));
        height: calc(50% - #{$top-products-padding});
        bottom: $top-products-padding;
        left: $top-products-padding;
        padding: 10px;
        border-radius: 0 0 500px 500px;
        background: rgba(255, 255, 255, 0.6);
    }
}


/* OVERRIDES */

.content {
    padding-top: 0;
}