@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';

h3, h4 {
	@include bpg-nino();
}

.content {
	padding-top: 0;
	position: relative;

	> .sidebar {
		@include bpg-nino();
		text-align: center;
		background: white;
		padding: 10px;

		> .sidebar-title {
			@include shadow();
			margin: 0 0 10px 0;
			padding: 10px;
			color: $dark-green;

			@media (min-width: $sm) {
				padding: 0;
				box-shadow: none;
			}
		}

		> ul {
			display: none;
			list-style: none;
			font-size: 18px;
			padding: 0;

			> li {
				padding: 5px 0;

				&.active > .subcategories {
					display: block;
				}
			}
		}
	}

	@media (min-width: $sm) {
		margin: 45px 80px 0 80px;

		> .sidebar {
			@include shadow();
			text-align: left;
			position: absolute;
			padding: 30px;
			top: 0;
			left: 0;
			width: 300px;

			> ul {
				display: block !important;
				font-size: 14px;
			}
		}

		> .product-list {
			margin-left: 350px;
		}
	}
}

.subcategories {
	display: none;
	list-style: none;
	padding: 0;

	@media (min-width: $sm) {
		padding-left: 30px;
	}
}

.category-link.active, .subcategory-link.active,
li.active > a, li.active > a:hover {
	color: $yellow;
}

.product {
	@include shadow();
	@include bpg-nino();
	background: white;
	padding: 15px 15px 5px 15px;
	color: $dark-green;
	margin: 0 auto 20px auto;
	max-width: 350px;
	border: solid 2px white;
	transition: border-color .3s;

	> .image {
		@include background-image();
		background-size: contain;
		padding-top: 65%;
	}

	> .name {
		margin: 15px 0;
		height: 43px;
		font-size: 18px;
		overflow: hidden;
	}

	&:hover {
		border-color: $yellow;
	}
}

.description {
	@include shadow();
	background: white;
	padding: 30px;
}

.product-name {
	font-size: 20px;
	word-wrap: break-word;
}

.fotorama-container {
	margin-bottom: 40px;
}


/* OVERRIDES */

.fotorama__stage {
	@media (min-width: $md) {
		height: 350px !important;
	}
}

.fotorama__nav__frame  {
	margin-right: 15px;
}