@mixin gradient($start, $end) {
	background: $start;
	background: -webkit-linear-gradient($start,  $end);
	background: -moz-linear-gradient($start,  $end);
	background: -ms-linear-gradient($start,  $end);
	background: -o-linear-gradient($start,  $end);
	background: linear-gradient($start,  $end);
}

@mixin shadow() {
	box-shadow: 0px 2px 3px 0px rgba(24, 24, 24, 0.5);
}

@mixin center-absolute() {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}