/* LAYOUT */

$body-bg-image: url('../img/bg_left.png'), url('../img/bg_right.png');
$body-bg-size: 30%;

$header-bg-image: $body-bg-image;
$header-bg-size: $body-bg-size + 5;
$header-padding: 25px 0 0 0;

$footer-height: 85px;

$content-padding: 20px 0 200px 0;

$banners-arrows-position: 10px;
$banners-arrows-font-size: 100px;

$green-header-font-size: 30px;

$top-products-padding: 8px;

$social-icon-width: 40px;


/* COLORS */

$light-green: #7dd579;
$dark-green: #2cba42;
$yellow: #f1c40f;
$light-grey: #ecf0f1;
$dark-grey: #b1b1b1;


/* BREAK POINTS */

$sm: 768px;
$md: 992px;
$lg: 1200px;